@tailwind base;
@tailwind components;
@tailwind utilities;

#blob-debug {
  position: relative;
  width: 50%;
  height: 100vh;
}
#blob-app {
  position: relative;
  width: 50%;
  height: 100vh;
}

#blob-model {
  display: none;
}

#svg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #aaa;
}

.blob-element {
  width: 100%;
  height: 100%;
}

.blob-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blob-element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}